
body {
    background-image: url(images/bricks-wesley-tingey-AZtMXheXnWc-unsplash.jpg);
    margin-bottom: 250px;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    margin: 0%;
    padding: 5px;
    background-color: rgba(2, 93, 185, 0.432);
    color: white;
    text-align: center;
    line-height: 1em;
}

header a {
    text-decoration: none;
    color: chartreuse;
}
header p {
    margin: 0.5%;
    font-size: small
}

main {
    margin: 0px 15% 0px 15%;
    background-color: rgba(0, 173, 72, 0.322);
    padding: 3%;
    border-left: 5px solid rgb(168, 168, 168);
    border-right: 5px solid rgb(168, 168, 168);

}

main h1 {
    color: darkgreen;
    margin-top: 50px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.281);
}

h2 {
    margin-top: 50px;
}

main p {
    margin-left: 50px;
    line-height: 120%;
    text-indent: 1em;
    text-align: justify;
}

main p::first-letter {
    color: rgb(168, 2, 2);
    font-size: 120%;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;

}

code {
    background-color: black;
    color: chartreuse;
    padding: 2px;
    font-family: monospace;
}


hr {
    border: 1px solid red;
}

li {
        margin-left: 30px;
}

.comment {
    box-shadow: 3px 3px 30px 10px rgba(0, 139, 139, 0.5) inset, 
    3px 3px 17px 3px rgba(0, 0, 0, 0.404);
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgba(217, 174, 248, 0.521);
    color: rgb(136, 2, 76);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;

    
}

.obs {
    box-shadow: 3px 3px 30px 10px rgba(217, 174, 248, 0.747) inset;
    background-color: rgba(88, 72, 90, 0.562);
    color: rgb(91, 6, 250);
    padding: 15px;
    padding-right: 50px;
    padding-left: 0px;
    margin-left: 50px;
    margin-bottom: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;

}


.start {
    box-shadow: 3px 3px 30px 10px rgb(202, 241, 241);
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgba(217, 174, 248, 0.747);
    color: rgb(185, 3, 103);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.lauda {
    background-color: rgba(172, 255, 227, 0.226);
    color: red;
    padding-top: 15px;
    margin-top: 6em;
    margin-bottom: 3em



}

.lauda > h2 {
    margin: 0%;
    padding-left: 7px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 2em;
    font-weight: 300;
}

.lauda > p {
    margin: 0%;
    padding-left: 7px;
    padding-right: 7px;
    text-align: justify;
    color: darkred;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.canyon {
    background-color: black;
    border-style: solid;
    border-width: 5px;
    border-color: cornflowerblue;
    padding: 3%;
    margin-right: 40%;
}

.entity {
    box-shadow: 3px 3px 30px 20px rgb(180, 245, 245);
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgba(217, 174, 248, 0.747);
    color: rgb(185, 3, 103);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

footer {
    width: 100%;
    margin: 0%;
    padding: 5px;
    background-color: dodgerblue;
    text-align: center;
}